background {
	background-color: palegoldenrod;
}

td.board {
	width: 70px;
	height: 70px;
	border-style: solid solid none;
}

tr.board:nth-child(odd) td.board:nth-child(even),
tr.board:nth-child(even) td.board:nth-child(odd) {
    background: grey;
}



td.board:hover {
	width: 70px;
	height: 70px;
	background: purple;
}

tr.board {
	width: 70px;
	height: 70px;
}

img {
	width: 95%;
	height: 95%;
}

.space {
	width: 650px;
	height: 700px;
	position: Fixed;
	/*background-color: #ff80ff; 
	/*top: 100px;*/
	left: 30px;
	top: 50px
}

.error {
	color: red;
	Position: center;
	height: 100px;
	
}

.chess {
	color: red;
	position: fixed;
	left: 310px;
}