html {
	background-color: palegoldenrod;
}

td.board {
	width: 70px;
	height: 70px;
	border-style: solid solid none;
}

tr.board:nth-child(odd) td.board:nth-child(even), tr.board:nth-child(even) td.board:nth-child(odd)
	{
	background: grey;
}

tr.board:nth-child(odd):hover td.board:nth-child(even):hover, tr.board:nth-child(even):hover td.board:nth-child(odd):hover
	{
	width: 70px;
	height: 70px;
	background: purple;
}

td.board:hover {
	width: 70px;
	height: 70px;
	background: purple;
}

tr.board {
	width: 70px;
	height: 70px;
}

img {
	width: 95%;
	height: 95%;
}

.space {
	width: 640px;
	height: 620px;
	position: Fixed;
	background-color: white;
	/*top: 100px;*/
	left: 100px;
	top: 100px
}

.error {
	color: red;
	font-size: 200%;
}

.check {
	color: green;
	font-size: 200%;
}

.chess {
	color: purple;
	position: fixed;
	left: 300px;
	font-size: 400%;
}

.button {
	background-color: #4CAF50;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}